.nav-link {
  color: black;
  font-weight: bold;
  background-color: coral;
  cursor: pointer;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: #ff7f50e0;
}

.nav-link.active {
  color: white;
}
