.header_nav_link {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.header_nav_link:hover {
  color: coral;
  text-decoration: none;
}

.active {
  color: coral;
}

.bg_cloudy {
  color: white;
  background: #6b707483;
}

.btn_light:hover {
  color: coral !important;
}
